@use "./variables";
  
  // AboutMeBox
  .AboutMeBox {
    display: flex;
    height: 90vh;
    color: variables.$DinamicText;
  }
  
  // MyImageBox
  .MyImageBox {
    @include variables.DisplayFlexCustom(center, flex-start);
    /* border: solid red; */
    width: 41vw;
  
    img {
      height: 77vh;
      width: 38vw;
      border-radius: 10px;
      padding-left: 2vw;
      object-fit: scale-down;
    }
  }
  
  // DescriptionBox
  .DescriptionBox {
    @include variables.DisplayFlexCustom();
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    text-align: justify;
  }
  
  // AboutMeTitle
  .AboutMeTitle {
    font-size: 3vw;
    letter-spacing: 1px;
    margin-bottom: 2.5vh;
  }
  
  // AboutMeText
  .AboutMeText {
    width: 92%;
    font-size: 2.1vw;
    /* word-spacing: -6px; */
    letter-spacing: 1.25px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    line-height: 4.92vh;
    /* border: solid purple; */
  }
  
  // HabilitiesBox
  .HabilitiesBox {
    height: 95vh;
  }
  
  // HabilitiesTitle
  .HabilitiesTitle {
    font-size: 3vw;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 3vh;
  }
  
  // TecnologiesBox
  .TecnologiesBox {
    @include variables.DisplayFlexCustom();
    height: 70vh;
  }
  
  // TecnologiesImages
  .TecnologiesImages {
    @include variables.DisplayFlexCustom(space-around);
    flex-wrap: wrap;
    width: 42%;
    height: 66vh;
    margin-top: 5vh
  }
  
  // TecnologiesDescription
  .TecnologiesDescription {
    @include variables.DisplayFlexCustom();
    flex-direction: column;
    text-align: center;
    width: 55%;
    height: 48vh;
    margin-right: 1.5vw;
    h2,
    p {
      font-family: "Dosis", sans-serif;
      font-weight: 600;
    }
  
    h2 {
      position: relative;
      top: -3vh;
      font-size: 3.5vw;
    }
  
    p {
      font-size: 2.35vw;
      line-height: 5.35vh;
      letter-spacing: 0.5px;
      padding: 10px;
    }
  }
  
  // HabilitiesImage
  .HabilitiesImage {
    width: 8vw;
    height: 14vh;
    visibility: "initial";
}
  
  // FigureHabilities
  .FigureHabilities {
    @include variables.DisplayFlexCustom();
    height: 18.5vh;
    width: 9.5vw;
    border-radius: 10px 20px 0px;
    background-color: #c4c4c4;
    transition: ease 0.3s;
    background-position: center;
    background-size: 74%;
    filter: grayscale(100%);
    background-repeat: no-repeat;
  
    &:hover {
      transform: scale(105%);
      object-fit: cover;
      background-color: #000;
      border: solid 2px variables.$DinamicText;
      filter: none;
    }
  }
  