@use "./variables";

.PhoneBox {
  position: relative;
  @include variables.DisplayFlexCustom();
  flex-direction: column;
  height: 100vh;
}

.PhoneTitle {
  font-size: 1.5vw;
  width: 45%;
  line-height: 4.2vh;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.PhoneImageBox {
  position: relative;
  @include variables.DisplayFlexCustom();
  h2,
  h4 {
    position: absolute;
    color: #fff;
  }
  h2 {
    top: 33vh;
    font-size: 1.5vw;
  }
  h4 {
    font-size: 1vw;
  }
  nav{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 45%;
    text-decoration: none;
  }
}

.ContactImages{
  width: 5vw;
  cursor: variables.$Cursor_pointer;
  &:hover{
    transform: scale(112%);
  }
}

.PhoneImage {
  height: 76vh;
  width: 37.5vw;
}

.ButtonCellPhone {
  position: absolute;
  top: 65vh;
  height: 10vh;
  width: 6vw;
  opacity: 0;
  cursor: variables.$Cursor_pointer;
}
