$DefaultText: #ffff;
$DinamicText: #00b100;

@mixin DisplayFlexCustom($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }

// MainBox
.MainBox {
    position: relative;
    top: 13.4vh;
    @include DisplayFlexCustom();
    color: $DinamicText;
  }
  
  // ContentBox
  .ContentBox {
    width: 90%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0px 0px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  